.imageBackground {
  background: url("~@/assets/images/globe.png") repeat center;
  background-size: contain;
  background-color: #f5f6fa;
  @apply bg-opacity-50;
}

.exchangeContainer {
  width: 100%;
  min-height: 657px;
  box-shadow: 0px 4px 83px rgba(137, 105, 252, 0.1);
  border-radius: 32px;
}
