@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default to light mode */
:root {
  --background: #ffffff; /* Light background */
  --foreground: #171717; /* Light text */
}

/* Allow for manual theme switching */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
